# Unity dirs
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

.vs/
.vscode/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj


# other files

.env
.DS_Store
Thumbs.db
desktop.ini

*.apk
*.aab
*.unitypackage
*.app
*.exe
*.x86
*.x86_64
*.x64
*.so
*.dll
*.dylib

